In [3]:
frutas = ['abacate', 'pera', 'abacaxi', 'Após isso, finaliza o FOR'] #lista

for fruta in frutas:
    print(fruta)
print('Fim do For')

abacate
pera
abacaxi
Após isso, finaliza o FOR
Fim do For

In [7]:
frutas = ['abacate', 'pera', 'abacaxi']

for fruta in frutas:
    if fruta.startswith('a'):
        print(fruta)
           
print('Fim do FOR')

abacate
abacaxi
Fim do FOR

In [22]:
import sys

vogais = ['a','e','i','o','u']

letra_User = input('digite uma letra: ')

for letra in vogais:
    if letra_User == letra:
        print('É uma vogal')        
        sys.exit() #interompe o código        
        
print('é uma consoante')

digite uma letra: a
É uma vogal

SystemExit:

## Exercício 06
Faça um programa que imprima na tela is números de 1 a 20, um abaixo do outro. Depois modifique o programa que ele mostre os números um ao lado do outro

In [28]:
#######################################################Exemplo 1:

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for x in numeros:
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [37]:
###################################################Exemplo 2:
lista = range(1,21)

numeros = [] #Lista vazia

for x in lista:
    numeros.append(x)

print(f'Foram adicionados {x} elementos à lista')    
print(numeros)

Foram adicionados 20 elementos à lista
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Exercício 9
Faça um programa que imprima na tela apenas os números impares inteiros que estão no intervalo compreendido poe eles.

In [58]:
lista = range(0,50)
numeros = []

for x in lista:
   ## x = x + 1    
    if x%2 != 0:
        numeros.append(x)
        
print(numeros)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### Exercício 07
Faça um programa que leia 5 números e informe o maior número.

In [77]:
numeros = range(0,6)
x = 0
for x in numeros:
    if x > 4:
        print(x)

5

In [71]:
numeros = range(0,6)

print(max(numeros))

5

In [121]:
x = int(input('Digite a quantidade de números da lista: '))
i = 1

numeros = range(0,x)
numeros2 = []

for i in numeros:
    i = i + 1
    l = int(input(f'Digite o {i}º número: '))
    numeros2.append(l)

print('')    
print('########### SENAI ##############')
print('O Maior número é o',max(numeros2), 'e o menor é o',min(numeros2))

Digite a quantidade de números da lista: 15
Digite o 1º número: 2
Digite o 2º número: 3
Digite o 3º número: 9
Digite o 4º número: 15
Digite o 5º número: 4
Digite o 6º número: 3
Digite o 7º número: 6
Digite o 8º número: 9
Digite o 9º número: 5
Digite o 10º número: 47
Digite o 11º número: 8
Digite o 12º número: 1
Digite o 13º número: 2
Digite o 14º número: 5
Digite o 15º número: 5

########### SENAI ##############
O Maior número é o 47 e o menor é o 1

In [113]:
controle = range(0,5)
numeros = []

for x in controle:
    num = int(input('Digite um número, please: '))
    numeros.append(num)

maior = max(numeros)
menor = min(numeros)

print(f'Maioi valor na lista é {maior} e o menor é {menor}')

Digite um número, please: 10
Digite um número, please: 20
Digite um número, please: 5
Digite um número, please: 60
Digite um número, please: 8
Maioi valor na lista é 60 e o menor é 5

### Exercício 12
Desenvolva um gerador de tabuada, capaz de gerar a tabuada de
qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja
ver a tabuada. A saída deve ser conforme o exemplo abaixo:

In [122]:
num = int(input('Digite um numero entre 1 e 10 '))
multiplos = [1,2,3,4,5,6,7,8,9,10]
valor = 0
alg = 0
for valor in multiplos:
    valor = num * valor
    alg = alg + 1
    print(num, 'x',alg,' = ',valor)

Digite um numero entre 1 e 10 12
12 x 1  =  12
12 x 2  =  24
12 x 3  =  36
12 x 4  =  48
12 x 5  =  60
12 x 6  =  72
12 x 7  =  84
12 x 8  =  96
12 x 9  =  108
12 x 10  =  120

In [125]:
num = int(input('Digite um numero entre 1 e 10 '))

multiplicadores = range(1,11)

if num >=1 and num <= 10:
    
    print(f'TABUADA DO NÙMERO {num}')
    for x in multiplicadores:
        resultado = num * x
        print(f'{num} x {x} = {resultado}')              
else:
    print('Número não disponível')

Digite um numero entre 1 e 10 2
TABUADA DO NÙMERO 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20